@model ShowcaseSection

<section class="showcase">
    <div class="container">

        <img class="showcase-image" src="@Model.Image.Url" alt="@Model.Image.AltText">

        <div class="content">
            <h1>@Model.Title</h1>
            <p>@Model.Description</p>

            <div class="get-started">
                <a class="btn btn-theme" href="#">@Model.GetStartedButton.Text</a>
            </div>

            <partial name="Sections/_LargestBrands" model="Model.LargestBrandsSection" />
        </div>
    </div>
</section>